 #row {
    display: table;
}
.col {
    display: table-cell;
    background-color: none;
    width: 16px;
    height: 16px;
}

#container {
    border-style: solid;
    border-color: blue;
    margin: auto;
}
#master {
    text-align: center;
}
#floater {
    float: left;
}
.btn-group {
    float: left;
}
.btn-group input {
    padding: 10px 24px; /* Some padding */
    width: 20%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group input:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group input:hover {
    background-color: #3e8e41;
  }