 #row {
    display: table;
}
.col {
    display: table-cell;
    background-color: none;
    width: 16px;
    height: 16px;
}

#container {
    border-style: solid;
    border-color: blue;
    margin: auto;
}
#master {
    text-align: center;
}
#floater {
    float: left;
}